body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
  }
  
  .carousel-item img {
    height: calc(100vh - 80px); /* Ajusta el 80px al tamaño de margen inferior que desees */
    object-fit: cover;
  }
  
  .carousel-container {
    height: 110%;
    display: flex;
    flex-direction: column;
  }
  
  .carousel-container .carousel {
    flex: 1 0 auto;
  }
  
  .carousel-caption {
    background-color: rgba(139, 69, 19, 0.7); /* Fondo café con transparencia */
    padding: 2ch;
    border-radius: 8px;
  }
  
  /* Clase personalizada para definir el tamaño de la card */
  .custom-card-size {
    width: 600px;
    height: 700px;
    overflow: hidden; /* Evita el desbordamiento del contenido */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  /* Clase personalizada para asegurarse de que la imagen se ajuste a la card */
  .custom-img-size {
    width: 90%;
    height: 90%;
    object-fit: contain; /* Asegura que la imagen se ajuste dentro del contenedor sin recortarse ni distorsionarse */
  }
  
  /* Asegura que el texto quede dentro del 30% restante del espacio */
  .card-body {
    height: 30%; /* Ocupa el 30% restante para el texto */
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden; /* Previene que el texto se desborde */
  }
  
  /* Aseguramos que la card tenga una altura fija */
  .card {
    height: 70%;
  }
  
  /* Aseguramos que la imagen ocupe el espacio adecuado */
  .fixed-img {
    height: 400px;
    width: 100%;
    object-fit: cover; /* Asegura que la imagen se ajuste al tamaño sin distorsionarse */
  }
  
  /* Clase para asegurar que el contenedor tenga un scroll vertical y una altura máxima del 80% de la ventana */
  .scrollable-container {
    max-height: 80vh;
    overflow-y: scroll;
  }